/* App.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  color: #1f2937;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  min-height: 100vh;
}

/* HEADER */

.header {
  background-color: white;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.logo {
  width: 55px;
}

.header h1 {
  font-size: 2.7rem;
  font-weight: 500;
}

/* FORM */

.ingredient-form {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  gap: 18px;
  padding: 0 20px;
}

.ingredient-form input {
  width: 520px;
  padding: 18px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 1rem;
  background-color: white;
}

.ingredient-form button {
  padding: 18px 28px;
  border: none;
  border-radius: 8px;
  background-color: #111827;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.ingredient-form button:hover {
  background-color: #000;
  transform: translateY(-2px);
}

/* INGREDIENTS */

.ingredients-section {
  margin-top: 70px;
  padding: 0 80px;
}

.ingredients-section h2 {
  font-size: 3rem;
  margin-bottom: 35px;
}

.ingredients-section ul {
  padding-left: 30px;
}

.ingredients-section li {
  margin-bottom: 28px;
  font-size: 1.7rem;
  color: #475569;
}

/* RECIPE CARD */

.recipe-card {
  margin: 80px;
  background-color: #ece7e1;
  border-radius: 16px;
  padding: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipe-card h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.recipe-card p {
  color: #64748b;
  font-size: 1rem;
}

.recipe-card button {
  background-color: #d97757;
  border: none;
  color: white;
  padding: 16px 28px;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.recipe-card button:hover {
  transform: scale(1.05);
}